@import "lib/normilize";
@import "lib/prism";
@import "common/common";
@import "common/header";
@import "common/footer";
@import "home/home";
@import "entries/entry_list";
@import "entries/entry";
@import "home/reading";

:root {
  --primary-color: #0F2438;
  --secondary-color: #20364C;
  --text-color: #E4E4E4;
  --progress-bar-color: #E4E4E4;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Fira Sans', sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  position: relative;
  height: 100%;
  transition: color 0.5s;
  input[type="submit"] {
    color: var(--text-color);
  }
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

.flex-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-width-wrapper {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 16px 64px 16px;
  img:hover {
    cursor: pointer;
  }
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#theme-switcher {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  background-image: url("/assets/images/moon.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s;
  &:hover {
    cursor: pointer;
  }
}

.light-mode {
  --primary-color: #FFFFFF;
  --secondary-color: #F3EFEC;
  --text-color: #222222;
  --progress-bar-color: #f0d2bd;
}

.about-me {
  p {
    margin: 8px 0 8px 0;
    width: 100%;
    text-align: center;
  }
}

.me {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,0.22) 0 0 16px 1px;
}

.work {
  h1 {
    margin-top: 30px;
    text-align: left;
  }
}

.job-item {
  img {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;
    border-radius: 4px;
  }
  &:last-child {
    margin-bottom: 50px;
  }
}

.not-found {
  text-align: center;
  margin: 32px 8px 32px 8px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.courses {
  padding-bottom: 30px;
}

/** Custom Prism settings */
/** support my custom font and size  */
code.highlighter-rouge,
code.highlighter-rouge.language-plaintext {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  background-color: #333;
  color: white;
  padding: 0 8px;
  border-radius: 3px;
  line-height: 1.3;
}

.particles-canvas {
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
}

#progress-bar {
  background-color: var(--progress-bar-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  z-index: 99;
}
