.entries-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entries-center-wrapper {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
  .entry-item {
    margin-top: 32px;
    width: 100%;
    h2 {
      font-weight: bold;
      margin-top: 4px;
      margin-bottom: 4px;
    }
    .publish-date {
      display: block;
      font-size: 13px;
      margin: 0 2px;
      opacity: 0.6;
    }

    .desc {
      margin: 6px 2px;
      font-size: 15px;
    }
  }
}
