---
layout: default
---

<div class="entry-container">
    <div class="entry">
        <h1 class="entry-title">{{ page.title }}</h1>
    	{{ content }}
    </div>
    <script src="/assets/js/prism.js"></script>
    <script>
    	Prism.highlightAll();
    </script>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.language = "en";
            this.page.url = "{{ page.url }}";
            this.page.identifier = "{{ page.url }}";
            this.page.title = "{{ page.title }}";
        };

        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://bpaulino-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>
</div>