h1 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-weight: normal;
}

a {
  color: var(--text-color);
}

/** screens >= 600px in width */
@media screen and (min-width: 600px) {
  p {
    font-size: 18px;
  }

  ul li, ol li {
    font-size: 18px;
  }
}

/** screens <= 599px in width */
@media screen and (max-width: 599px) {
  p {
    font-size: 16px;
  }

  ul {
    ul li {
      font-size: 16px;
    }
  }
}

input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  background-color: white;
  display: block;
  height: 30px;
  padding-left: 5px;
}