@font-face{
  font-family:Futura PT;
  font-display:swap;
  src:url("/assets/fonts/futura-pt-normal.woff2") format("woff2"),
  url("/assets/fonts/futura-pt-normal.woff") format("woff"),
  url("/assets/fonts/futura-pt-normal.ttf") format("truetype");
  font-weight:400;
  font-style:normal
}

@font-face{
  font-family:Futura PT;
  font-display:swap;
  src:url("/assets/fonts/futura-pt-italic.woff2") format("woff2"),
  url("/assets/fonts/futura-pt-italic.woff") format("woff"),
  url("/assets/fonts/futura-pt-italic.ttf") format("truetype");
  font-weight:400;
  font-style:italic
}

@font-face{
  font-family:Futura PT;
  font-display:swap;
  src:url("/assets/fonts/futura-pt-normal-700.woff2") format("woff2"),
  url("/assets/fonts/futura-pt-normal-700.woff") format("woff"),
  url("/assets/fonts/futura-pt-normal-700.ttf") format("truetype");
  font-weight:700;
  font-style:normal
}

@font-face{
  font-family:Futura PT;
  font-display:swap;
  src:url("/assets/fonts/futura-pt-italic-700.woff2") format("woff2"),
  url("/assets/fonts/futura-pt-italic-700.woff") format("woff"),
  url("/assets/fonts/futura-pt-italic-700.ttf") format("truetype");
  font-weight:700;
  font-style:italic
}














